---
import dayjs from 'dayjs'

export interface Props {
  post: any;
}

const { post } = Astro.props;
---
<article class="pb-base">
  <header>
    <a href={post.url}><h1 class="text-3xl font-bold text-seafoam-700">{post.title}</h1></a>
    <h3 class="text-lg text-gray-600">{dayjs(post.date).format('MMM D YYYY')}</h3>
  </header>
  <div>
    <p>{post.description}</p>
  </div>
</article>

<style>
.content :global(main > * + *) {
  margin-top: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  justify-content: center;

  padding-bottom: 2rem;
}

.title,
.author,
.publish-date {
  margin: 0;
}

.publish-date,
.author {
  font-size: 1.25rem;
  color: var(--theme-text-lighter);
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--theme-text);
}
</style>
